<div class="card">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4 text-center pl-md-4 pt-1">
        <i class="fa-3x {{icon}}"></i>
        <p class="font pt-4">{{info}}</p>
      </div>
      <div class="d-none d-md-block my-4 sep-vertical"></div>
      <div class="d-block d-md-none my-4 mx-5 sep-horizontal"></div>
      <div class="col-md px-4">
          <div class="font" id="message">{{message}}</div>
          <div class="pt-2" *ngIf="extraMessage">{{extraMessage}}</div>
          <div class="pt-5">
            <div *ngIf="actionButton">
                <button type="button" class="btn btn-success rounded" (click)="openLink()">{{actionButton.text}}</button>
            </div>
            <div *ngIf="actionText" id="text">
              <i class="fa-1x icon-arrow-right"></i>{{actionText}}</div>
          </div>
      </div>
    </div>
  </div>
</div>